# 파이선 기초

- 기본 변수 (단일 데이터 저장)
 - 정수(int), 부동소수(float), 문자(strings), 불리언(True/False),  
- 데이터 묶음 (복수 데이터 저장)
 - 리스트(list), 배열(array), 튜풀(tuple), 사전(dictionary)
- 특수 변수
 - range
- 프로그램 흐름
 - if, for, while

## 기본 변수
- 단일 값, 스칼라 값을 담는 변수
- 정수(int), 부동소수(float), 문자(strings), 불리언 (bool)

### 변수에 값을 배정(assign)하고 출력

In [4]:
x = 7
print(x)

7

In [5]:
y = 0.5
x+y

7.5

In [6]:
type(x), type(y)

(int, float)

In [7]:
y = 4
type(y)

int

## 숫자 - 4칙 연산

In [8]:
print(x+y)
print(x-y)
print(x*y)
print(x/y)

11
3
28
1.75

In [9]:
print(x//y) # 몫
print(x%y)  # 나머지

1
3

In [10]:
print(x**y)  # 승수

2401

In [11]:
# 지수승으로 표시 (exponential, 베이스는 10)
z = 1.23e5
z

123000.0

In [12]:
z = 1.23E-2 # e, E 동일하게 사용된다
z

0.0123

## 문자열

In [13]:
print("문자열 출력하기")
print('따옴표는 하나도 됩니다')
print('따옴표는 "혼용"이 가능합니다')
print("본인의 '취향대로' 사용하세요")

문자열 출력하기
따옴표는 하나도 됩니다
따옴표는 "혼용"이 가능합니다
본인의 '취향대로' 사용하세요

In [14]:
print("특수 기호를 출력할 때는 \" 이렇게 백 슬래시를 사용하세요")

특수 기호를 출력할 때는 " 이렇게 백 슬래시를 사용하세요

In [15]:
print("새로운 줄(new line)을 출력하려면 \n 이렇게 백 슬래시를 사용하세요")

새로운 줄(new line)을 출력하려면
 이렇게 백 슬래시를 사용하세요

In [16]:
x = "임의의 문자열을 "
y = "붙여서 새로운 문자열로..."
x+y

'임의의 문자열을 붙여서 새로운 문자열로...'

In [17]:
x * 3

'임의의 문자열을 임의의 문자열을 임의의 문자열을 '

### 문자열 다루기

In [18]:
len(x)

9

In [19]:
x[5]

'자'

In [20]:
x[:6]

'임의의 문자'

In [21]:
x[6:9]

'열을 '

In [22]:
x[-2]

'을'

### split과 join
- 문자열을 공백, "/", "," 등을 기준으로 나누거나 합친다
- 나누어진 항목은 리스트(list)에 저장된다

In [23]:
print(x)
x.split()

임의의 문자열을

['임의의', '문자열을']

In [24]:
y = '12/31/2030'
z = y.split('/')
z

['12', '31', '2030']

In [25]:
z[2]

'2030'

In [26]:
"/".join(z)

'12/31/2030'

In [27]:
":".join(z)

'12:31:2030'

In [28]:
",".join((z[2], z[1], z[0]))

'2030,31,12'

In [29]:
print(x)
x.replace("문자열", "긴 문장들")

임의의 문자열을

'임의의 긴 문장들을 '

### 포맷( format) 출력하기

In [30]:
"변수가 %d 개 들어 있는 문자열 출력하기" %10

'변수가 10 개 들어 있는 문자열 출력하기'

In [31]:
x = 5
print("변수가 %d 개 들어 있는 문자열 출력하기" %x)

변수가 5 개 들어 있는 문자열 출력하기

In [32]:
x = 5 ; y = 3
print("변수가 %d 개 들어 있는 문자열 %d번 출력하기" %(x,y))

변수가 5 개 들어 있는 문자열 3번 출력하기

In [33]:
# format문을 사용하는 방법
print("변수가 {0} 개 들어 있는 문자열 {1}번 출력하기".format(x,y))

변수가 5 개 들어 있는 문자열 3번 출력하기

In [34]:
print("변수가 {num1} 개 들어 있는 문자열 {num2}번 출력하기".format(num1=x,num2=y))

변수가 5 개 들어 있는 문자열 3번 출력하기

In [35]:
# (더 줄여서) f"..."를 사용하는 방법
print(f"변수가 {x} 개 들어 있는 문자열 {y}번 출력하기")

변수가 5 개 들어 있는 문자열 3번 출력하기

In [36]:
f"변수가 {x} 개 들어 있는 문자열 {y}번 출력하기"

'변수가 5 개 들어 있는 문자열 3번 출력하기'

### 숫자 포매팅하기

In [37]:
phi = 3.141592
f"{phi}"

'3.141592'

In [38]:
print(f"{phi}")
print(f"{phi:0.4f}")
print(f"{phi:0.2f}")

3.141592
3.1416
3.14

### 포맷의 종류
- d: 정수
- f: 부동 소수
- s: 문자열

## 불리언

In [39]:
a = True
b = False
a & b

False

In [40]:
a|b

True

In [41]:
x = 0.7
x > 0.5

True

In [42]:
bool(1)

True

In [43]:
bool("any non zero values")

True

### 숫자 0 이나 빈 리스트는 False가 된다

In [44]:
bool(0)

False

In [45]:
bool([])

False

### 불리언의 연산
- 불리언 변수가 연산에 사용되면 True는 1로, False는 0으로 취급된다

In [46]:
a + 3 + b

4

In [47]:
a + a + a + a + a + 10

15

# 데이터 묶음
 - 단 변수들을 여러개 묶어 어레이, 벡터 등으로 처리
 - 리스트(list), 배열(array), 튜풀(tuple), 사전(dictionary)

## 리스트
 - 여러 항목의 집합체
 - 파이썬에서 데이터를 다루는 가장 널리 사용되는 데이터 조작 용 "통"
 - 각 항목의 타입은 서로 달라도 된다
 - 리스트를 만들려면 대괄호 "[ ]" 를 사용하고 각 항목을 ','로 구분한다
 - list() 함수로도 만들 수 있다

In [48]:
x = [1,2,3] ; x

[1, 2, 3]

In [49]:
x = list([10,20,30]) ; x

[10, 20, 30]

In [50]:
# 길이
len(x)

3

### 인덱싱: 리스트에서 특정 위치의 값을 찾는다
- 위치 번호는 '1'이 아니라 '0'부터 시작한다.

In [51]:
x[0]

10

In [52]:
# 3번째 항목을 값을 바꾸었다.
x[2]=100 ; x

[10, 20, 100]

### 슬라이싱

In [53]:
# 특정 위치 이전 값을 얻는다 (경계는 포함하지 않음)
x[:2]

[10, 20]

In [54]:
# 범위를 선택한다
x[0:2]

[10, 20]

In [55]:
# 뒤에서부터 인덱싱할 때는 '-' 를 사용
x[-1]

100

In [56]:
x[-2]

20

In [57]:
x[1:-2]

[]

### 항목 추가 및 삭제: append(), del()

In [58]:
x.append('park')
x

[10, 20, 100, 'park']

In [59]:
# 특정 위치의 항목을 제거
del x[2]
# 사용에 주의해야 함!
# 범위를 줄 수도 있다

In [60]:
x

[10, 20, 'park']

In [61]:
# 순서 뒤집기
x.reverse()
x

['park', 20, 10]

In [65]:
# 특정 항목의 갯수를 센다
x.count('park')

1

### 특정 값이 있는 항목의 위치(index) 얻기

In [66]:
x.index(20)

1

### 리스트 다루기

In [67]:
x = [1, 2, 3, 4, 5, 'kim']
x*2

[1, 2, 3, 4, 5, 'kim', 1, 2, 3, 4, 5, 'kim']

In [68]:
y = [100, 200, 300]
x+y

[1, 2, 3, 4, 5, 'kim', 100, 200, 300]

## 튜플 (tuple)
- 튜플도 리스트처럼 여러 항목을 담을 수 있는 변수
- 리스트와 달리 튜플의 내용은 '상수'로 취급되어 값을 바꿀 수 없다
- 튜플을 만들려면 소괄호( )를 사용하여 만들거나 ( )  없이 "," 로 구분하여 나열한다

In [69]:
my_tuple = (1, 2, 3)
your_tuple = 4, 5,"hello"
print(my_tuple + your_tuple)

(1, 2, 3, 4, 5, 'hello')

In [70]:
a, b, c = 3, 4, 100
print(a+b+c)

107

In [71]:
(a, b, c) = (3, 4, 100)
print(a+b+c)

107

In [72]:
[a, b, c] = [3, 4, 100]
print(a+b+c)

107

## 사전 (Dictionaries)
- 키-값 조합 형태의 데이터 묶음
- 간단한 데이터베이스 처럼 사용된다
- 딕셔너리에서는 항목을 찾을 때 키를 사용한다
- 딕셔너너리에서 저장된 순서는 중요시하지 않다
- 딕셔너리는 중괄호 {  } 로 만든다.

In [73]:
student = {'grade': 3,'age': 21,'name': "kim"  }
student['age']

21

In [74]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['grade', 'age', 'name'])
dict_values([3, 21, 'kim'])
dict_items([('grade', 3), ('age', 21), ('name', 'kim')])

In [75]:
student['name'] = 'lee'
student['name']

'lee'

# 프로그램 흐름

## for
- 특정 조건이 만족되는 동안 작업을 수행
- 해당 블록은 들여쓰기로 구분한다
- for 문장의 끝에는 ':'가 있어야 하며 for 문이 적용되는 블록(block)은 반드시 들여쓰기 (indentation)을 해야 한다. 
### range
- 일정 범위의 값을 한번에 표현하는 변수

In [76]:
x = range(5)
for i in x:
    print(i*10)

0
10
20
30
40

In [77]:
x = range(1,20,3)
for i in x: print(i*10)

10
40
70
100
130
160
190

### 리스트 내에서 for 사용 가능

In [78]:
x2 = [x*10 for x in range(10)] 
print(x2)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

### in 이 성립하는 동안 반복

In [79]:
items = [1, 5, 100]
for x in items:
    print(x**3)

1
125
1000000

## if
- if 문 다음이 True이면 : 이후를 실행한다
- True가 아니면 else: 부분을 수행한다

In [80]:
x = 41
if x > 10:
    print("x > 10") 
    print("if 문 뒤에는 반드시 ':'가 있어야 한다")
    print("if 문 적용 구간은 들여쓰기로 구분한다")
else:
    print(" x <= 10")

x > 10
if 문 뒤에는 반드시 ':'가 있어야 한다
if 문 적용 구간은 들여쓰기로 구분한다

In [81]:
x = 41
if x > 90:
    print("매우 높은 점수!") 
elif x > 60:
    print("평균은 넘는 점수!") 
else:
    print("낮은 점수!")

낮은 점수!

- 조건문에 in을 사용하면 편리하다

In [82]:
y = [1,2,3,4]
x = 5 # 값을 바꾸어서 실행해본다
if x in y:
    print("x가 y에 포함되어 있다")
else:
    print("x가 y에 포함되어 있지 않다")

x가 y에 포함되어 있지 않다

## while

In [83]:
x = 0
while x < 5:
    print('x =', x)
    x = x+1

x = 0
x = 1
x = 2
x = 3
x = 4

In [84]:
condition = 1
x = 0
while condition:
    print('x =', x)
    x = x+1
    if x > 5:
        print('Too Big!!')
        break

x = 0
x = 1
x = 2
x = 3
x = 4
x = 5
Too Big!!