<a href="https://colab.research.google.com/github/StillWork/lg1210/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B8%B0%EB%B3%B8%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 처음 배우는 파이썬
- (1) 기본 변수: 정수, 소수, 불리언, 문자열
- (2) 집합 변수 : 리스트, 튜플, 딕셔너리

In [35]:
x = 3 ; y = 0.5 ; b = True ; c = False
print(x+y+b+c)

4.5

In [36]:
z = "Hello" ; z

'Hello'

- 리스트: 데이터를 담는 통

In [37]:
x = [1,2,3,5,100] ; x.append(200) ; x

[1, 2, 3, 5, 100, 200]

In [18]:
  (a, b) = (8, 9) # 튜플
  print(a)

8

In [25]:
dic = {"a":5, "b":8} # 딕셔너리
print(dic["a"])
dic["c"] = 1000 # 항목 추가
print(dic)
# ctrl + m + o

5
{'a': 5, 'b': 8, 'c': 1000}

[] - 리스트 만들때, 인덱싱  
() - 함수 호출 (append(..)), 튜플(데이터 묶음)  
{} - 딕셔너리 (키:값 으로 구성된 간단한 데이터베이스)

In [11]:
x

[1, 2, 3, 5, 100, 200]

In [13]:
# 코멘트 문장. 이것은 실행되지 않는 부분임, 슬라이싱 :  사용
x[1:4]

[2, 3, 5]

In [14]:
x[3:]

[5, 100, 200]

In [15]:
x[:4]

[1, 2, 3, 5]

흐름 관리 ":" 
- if, else, elif, 
- for
- while

In [32]:
x = 13
if x > 10: 
  print("more than 10")
  print("more than 10 !!")
else:
  print("less that 10")

more than 10
more than 10 !!

In [33]:
x = [1,2,5,10]
for i in x:
  print(i*10)

10
20
50
100

In [34]:
tag = 0
while tag < 5 :
  print ('OK')
  tag = tag +1

OK
OK
OK
OK
OK